@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Bold.ttf');
	font-weight: bold;
	font-display: block;
}
@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Regular.ttf');
	font-weight: normal;
	font-display: block;
}
@font-face {
	font-family: 'Lora';
	src: url('Lora-Bold.ttf');
	font-weight: bold;
	font-display: block;
}
@font-face {
	font-family: 'Lora';
	src: url('Lora-Regular.ttf');
	font-weight: normal;
	font-display: block;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #444;
	font-size: 18px;
	background-color: #bbd0d5;
	margin: 0;
}
div.title {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-bottom: 2px solid #aaa;
}
h1 {
	flex-grow: 1;
	font-size: 36px;
	font-weight: normal;
	color: #000;
	margin: 0;
	padding: 20px;
}
img#logo {
	height: 100px;
	width: auto;
	margin: 5px 10px;
	user-select: none;
	user-drag: none;
}
div.story-wrap {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
	gap: 20px;
}
img#obj {
	background-color: #000;
	border-radius: 10px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	
    width: 600px;
	height: auto;
	box-sizing: border-box;
	overflow: hidden;
	object-fit: cover;
}
div.story {
	font-family: 'Lora', serif;
	font-size: 30px;
	font-weight: normal;
	color: #000;
	background-color: #dfecf0;
    padding: 20px 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	
    width: 600px;
	box-sizing: border-box;
	
	display: flex;
	flex-direction: column;
	justify-content:center;
	overflow: hidden;
}
div.story > p {
	margin: 0;
	margin-bottom: 20px;
}
div.story span.ins {
	font-weight: bold;
}
p.b {
	font-weight: bold;
}
