@font-face {
	font-family: 'Open Sans';
	src: url('/static/OpenSans-Bold.ttf');
	font-weight: bold;
	font-display: block;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/static/OpenSans-Regular.ttf');
	font-weight: normal;
	font-display: block;
}
@font-face {
	font-family: 'Lora';
	src: url('/static/Lora-Bold.ttf');
	font-weight: bold;
	font-display: block;
}
@font-face {
	font-family: 'Lora';
	src: url('/static/Lora-Regular.ttf');
	font-weight: normal;
	font-display: block;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #444;
	font-size: 0.9rem;
	background-color: #bbd0d5;
	margin: 0;
}
div.title {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-bottom: 2px solid #aaa;
}
h1 {
	flex-grow: 1;
	font-size: 1.8rem;
	font-weight: normal;
	color: #000;
	margin: 0;
	padding: 1rem;
}
img#logo {
	height: 5rem;
	width: auto;
	margin: 0.25px 0.5rem;
	user-select: none;
	user-drag: none;
}
div.story-wrap {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1rem;
	gap: 1rem;
}
img#obj {
	background-color: #000;
	border-radius: 6px;
	box-shadow: 2px 2px 0.4rem rgba(0, 0, 0, 0.4);
	
    width: 30rem;
	height: auto;
	box-sizing: border-box;
	overflow: hidden;
	object-fit: cover;
}
div.story {
	display: flex;
	
	font-family: 'Lora', serif;
	font-size: 1.25rem;
	font-weight: normal;
	color: #000;
	background-color: #fff;
    /* padding: 1rem 1.5rem; */
	padding: 3rem 1.5rem;
    border: 1px solid #000;
    border-radius: 0.3rem;
	
    width: 30rem;
	box-sizing: border-box;
	
	flex-direction: column;
	justify-content:center;
	overflow: hidden;
}
div.story p {
	margin: 0;
	margin-bottom: 1rem;
}
p#story-title {
	font-weight: bold;
	font-size: 1.6rem;
	margin-bottom: 0.5rem;
}
p#story-prompt {
	margin-top: 1rem;
	margin-bottom: 0px;
}
p#story-text {
	font-size: 1.4rem;
	position: relative;
	margin: 0.75rem 1rem;
}
p#story-text::before {
	display: block;
	position: absolute;
	left: -1.5rem;
	top: -1rem;
	font-size: 3.25rem;
	color: #ccc;
	content: "“";
}
p#story-text::after {
	display: block;
	position: absolute;
	right: -1.5rem;
	bottom: -2.75rem;
	font-size: 3.25rem;
	color: #ccc;
	content: "”";
}
div.story span.ins {
	font-weight: bold;
}

div#story-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	gap: 0.5rem;
	margin: 1rem;
}
div.story-link {
	width: 15rem;
	height: 15rem;
	padding: 0;
	margin: 0;
}
div.story-link img {
	background-color: #000;
	border-radius: 0.3rem;
	
    width: 15rem;
	height: auto;
	box-sizing: border-box;
	overflow: hidden;
	object-fit: cover;
}
img.star {
	display: block;
	position: absolute;
	top: -3rem;
	right: 1rem;
	width: 15rem;
	height: 6rem
}
