{%- set title='Dashboard' %}
{%- include 'header.html' %}

<div class="blk">
Review <a href="{{ '/recentlogins' | app }}">recent logins</a> to the dashboard.
</div>

<h1>Submitted Stories</h1>

<form>
<div class="blk bar">
<div><b>Filter by status:</b>&ensp;
	<label><input type="checkbox" name="show" value="block" {{ 'checked' if 'block' in show }} />block</label>
	<label><input type="checkbox" name="show" value="new" {{ 'checked' if 'new' in show }} />new</label>
	<label><input type="checkbox" name="show" value="ok" {{ 'checked' if 'ok' in show }} />ok</label>
	<label><input type="checkbox" name="show" value="star" {{ 'checked' if 'star' in show }} />star</label>
</div>
<div>Newest first</div>
<div><b>Items per page:</b>&ensp;
	<label><input type="radio" name="lim" value="10" {{ 'checked' if lim==10 }} />10</label>
	<label><input type="radio" name="lim" value="20" {{ 'checked' if lim==20 }} />20</label>
	<label><input type="radio" name="lim" value="50" {{ 'checked' if lim==50 }} />50</label>
	<label><input type="radio" name="lim" value="100" {{ 'checked' if lim==100 }} />100</label>
</div>
<div><input type="submit" value="Update" /></div>
</div>
</form>

{%- include 'pages.html' %}
{%- for story in stories %}
<div class="blk tab" id="blk-{{ story[0] }}">
{%- include 'storyblk.html' %}
</div>
{%- endfor %}
{%- include 'pages.html' %}

<div class="blk bar">
	<div><input type="button" value="Select none" onclick="selectNone()" /></div>
	<div><input type="button" value="Delete selected" disabled /></div>
	<div style="flex-grow:1"><input type="button" value="Create new" onclick="location.href='{{ '/edit' | app }}?uid=new';" /></div>
	<div><b>Apply to all selected items:</b>&ensp;
		<label><input type="radio" form="form-setmod-sel" name="status" value="block" />block</label>
		<label><input type="radio" form="form-setmod-sel" name="status" value="new" checked />new</label>
		<label><input type="radio" form="form-setmod-sel" name="status" value="ok" />ok</label>
		<label><input type="radio" form="form-setmod-sel" name="status" value="star" />star</label>
	</div>
	<div>
	<form id="form-setmod-sel" action="{{ '/setmod' | app }}" method="post" onsubmit="return prepareSelected('setmod-sel', confirmSetMod)" >
		<input type="hidden" name="p" value="{{ page }}" />
		<input type="hidden" id="setmod-sel" name="sel" value="" />
		<input type="submit" value="Apply" />
	</form>
	</div>
</div>

</body>
