{%- set id = story[0] -%}
<div class="status-{{ story[6] }}" style="cursor:pointer" onclick="document.getElementById('sel-{{ id }}').click()">{{ story[6] }}</div><div>
<div class="bar">
	<div><input type="checkbox" id="sel-{{ id }}" class="storysel" /></div>
	<div>{{ story[5].replace(microsecond=0) }}</div>
	<div>IP:&nbsp;{{ story[7] }}</div>
	<div style="flex-grow:1;text-align:right"><span class="ghost">ID:&nbsp;{{ id }}</span></div>
	<div><a href="/qr/{{ id }}" target="_blank">Get QR</a></div>
	<div><a href="/story/{{ id }}" target="_blank">View page</a></div>
</div>
{%- if story[6]=='block' -%}
<div id="quote-hide-{{ id }}" class="quote"><span class="info">Blocked content... <a href="javascript:showBlocked('{{ id }}');">Read</a></span></div>
<div id="quote-read-{{ id }}" class="quote" style="display:none">
<span class="info">Blocked content... <a href="javascript:hideBlocked('{{ id }}');">Hide</a></span><br/>
{%- else -%}
<div class="quote">
{%- endif -%}
	{%- if story[1] in obj_data -%}{%- set name -%}
		<b>{{ obj_data[story[1]]['name']|e }}</b>
	{%- endset -%}{%- else -%}{%- set name -%}
		<span class="err"><b>Deleted Object:</b> {{ story[1]|e }}</span>
	{%- endset -%}{%- endif -%}
	{%- set fact='[...]' -%}
	{%- set q1 -%}<span class="ins">{{ story[2]|e }}</span>{%- endset -%}
	{%- set q2 -%}<span class="ins">{{ story[3]|e }}</span>{%- endset -%}
	{%- set q3 -%}<span class="ins">{{ story[4]|e }}</span>{%- endset -%}
	{%- include story_template -%}
</div>
<div class="bar">
	<div><input type="button" value="Edit" onclick="requestEdit('{{ id }}')" /></div>
	<div style="flex-grow:1"><input type="button" value="Delete" disabled /></div>
{%- if story[8] and story[9] -%}
	<div><span class="info">Reviewed by <b>{{ story[8] }}</b> on {{ story[9].replace(microsecond=0) }}</span></div>
{%- endif -%}
	<div><b>Status:</b>&ensp;
		<label><input type="radio" name="status-{{ id }}" value="block" {{ 'checked' if 'block'==story[6] }} />block</label>
		<label><input type="radio" name="status-{{ id }}" value="new" {{ 'checked' if 'new'==story[6] }} />new</label>
		<label><input type="radio" name="status-{{ id }}" value="ok" {{ 'checked' if 'ok'==story[6] }} />ok</label>
		<label><input type="radio" name="status-{{ id }}" value="star" {{ 'checked' if 'star'==story[6] }} />star</label>
	</div>
	<div><input type="button" value="Apply" onclick="requestSetMod('{{ id }}')" ></div>
</div>
</div>
