@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
body {
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	background-color: #222;
	color: #ddd;
	font-size: 15pt;
	padding: 0px;
	margin: 80px;
    margin-top: 0px;
	overflow: hidden;
}
h1 {
    font-size: 22pt;
    font-weight: normal;
    color: #aaa;
    margin: 0px -80px 50px -80px;
    padding: 10px 80px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    box-shadow: 0px 0px 40px #aaa;
    text-shadow: 2px 2px 5px #ddd;
}
img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	margin-right: 25px;
	border-radius: 25px;
	border: 2px solid #fff;
}
div.limg {
    float: left;
}
div.limg img {
	width: 500px;
	height: 500px;
}
div.rbox {
    height: 500px;
    width: 500px;
    margin-left: 25px;
    float: left;
    position: relative;
}
div.rbox p {
	user-select: none;
}
div.done {
    color: #777;
    width: 400px;
    height: 460px;
    padding: 20px 50px;
    background-color: #fff;
	border-radius: 25px;
	border: none;
}
input[type=button] {
	font: inherit;
	font-weight: bold;
	width: 120px;
    height: 50px;
	color: #fff;
	background-color: #f90;
	border: 2px solid #f90;
	border-radius: 25px;
	cursor: pointer;
}
input[type=button].back {
    background-color: #aaa;
	border: 2px solid #aaa;
}
input[type=button].dot {
    width: 50px;
    margin-right: 10px;
}
input[type=button].now {
    color: #000;
    background-color: #fff;
	border: 2px solid #fff;
}
input[type=button]:disabled {
    background: none;
	cursor: default;
	border: 2px solid #aaa;
	color: #aaa;
}
div.story {
    height: 300px;
    font-style: italic;
    text-align: justify;
}
span.ins {
    color: #f90;
}
textarea {
    font: inherit;
    color: #fff;
    width: 490px;
    height: 120px;
    padding: 10px 20px;
    background-color: #000;
    border: 2px solid #ddd;
    border-radius: 25px;
    resize: none;
    outline: none;
    box-shadow: none;
}
textarea:focus {
    border: 2px solid #f90;
}
label.countdown {
	margin-left: 20px;
	color: #fff;
}
div#page1 {
	position:relative;
	width:1000px;
	left:50%;
	margin-left:-500px;
	text-align:center;
}
