{%- set title='List of Objects' -%}
{%- include 'header.html' -%}
{%- set media_path='https://storyweb.ams3.cdn.digitaloceanspaces.com' -%}

<script>

function downloadAll(total) {
	if(!confirm(`Download all data in JSON format?\n${total} stories total.`))
		return;
	window.open('{{ '/json' | app }}?req=stories', '_blank');
}

</script>

<h1>Downloadable Data</h1>

<div class="blk bar">
<div style="flex-grow:1">Full database of stories</div>
<div><a href="{{ '/data?req=stories&fmt=json' | app }}">JSON</a></div>
<div><a href="{{ '/data?req=stories&fmt=csv' | app }}">CSV</a></div>
</div>

<div class="blk bar">
<div style="flex-grow:1">Database of museum objects</div>
<div><a href="{{ '/data?req=objects&fmt=json' | app }}">JSON</a></div>
<div><a href="{{ '/data?req=objects&fmt=csv' | app }}">CSV</a></div>
</div>

<h1>User Interaction Logs</h1>

<div class="blk">
(coming soon)
</div>


</body>
